@mixin two-column-grid($display: grid, $columns: 1fr repeat(2, minmax(auto, 611px)) 1fr) {
  display: $display;
  grid-template-columns: $columns;
}

@mixin side-padding {
  .header,
  .welcome,
  .about,
  .service,
  .prices,
  .contacts,
  .footer {
    padding-left: 109px;
    padding-right: 109px;
    // padding: 0 109px;
    @media (max-width: 1250px) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

@mixin inika {
  font-family: 'Inika', serif;
}