.contacts {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1222px) 1fr;
  background-color: $dark-background;
  mix-blend-mode: normal;
  .container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: url(/src/image/contact_woman.png) 0 100% / 400px 497px no-repeat;
    @media (min-width:956px) {
      padding-top: 60px;
      padding-bottom: 255px;
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 611px)) 1fr;
    }
    @media (max-width:955px) {
      padding-top: 40px;
      padding-bottom: 448px;
      background: url(/src/image/contact_woman.png) 52% 100% / 200px 249px no-repeat;
      background-color: $dark-background;
      mix-blend-mode: normal;
    }
    @media (max-width:640px) {
      padding-top: 26px;
      padding-bottom: 206px;
      background: url(/src/image/contact_woman.png) 49% 100% / 100px 124px no-repeat;
    }
    

  }
  @media (max-width: 640px) {
    padding-left: 38px;
    padding-right: 38px;
  }
  @media (max-width: 370px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  
}




.contacts__image {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  position: relative;
  z-index: 10;
}

.contacts__title {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  position: relative;
  z-index: 3;
  // grid-column: 3 / 4;
  text-align: center;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #499A18;
  @media (max-width: 640px) {
    font-size: 2.5rem;
    line-height: 3.3rem;
  }
}

.contact-select {
  width: 100%;
  
  position: relative;
  @media (min-width: 956px) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    display: grid;
    justify-items: end;
    margin-top: 36px;
    margin-bottom: 50px;
  }
  @media (max-width: 955px) {
    max-width: 450px;
    margin: 99px auto 50px auto;
  }
  @media (max-width: 640px) {
    margin: 80px auto 50px auto;
  }

}

.contact-select__city {
  cursor: pointer;
  position: relative;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 47px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.05em;
  color: #717171;

  &::after {
    content: "";
    background: url(/src/image/svg/lightArrow.svg) center / 50% no-repeat;
    mix-blend-mode: multiply;
    background-color: #AEA1A1;
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(0, -50%) rotate(180deg);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    @media (max-width: 640px) {
      right: 24px;
    }
  }
}

.contact-select__city_selected,
.contact-select__city_active {
  background: #C1E698;
}

.contact-select__city_active::after {
  background: url(/src/image/svg/lightArrow.svg) center / 50% no-repeat;
  background-color: #8BA07E;
  transform: translate(0, -50%) rotate(0deg);

 }

.contact-select__list {
  position: absolute;
  top: 50px;
  right: 0;
  overflow: hidden;
  max-height: 0;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  max-width: 450px;
  background: #DCE9D9;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
  letter-spacing: 0.05em;
  color: #499A18;
  transition: max-height linear 0.5s;
  // margin-bottom: -160px;
  z-index: 5;

}

.contact-select__list_open {
  max-height: 300px;
}

.contacts-select__item {
  width: 100%;
  position: relative;
  transition: all linear 0.3s;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.1;
    transition: opacity linear 0.3s;
  }

  &:hover {
    color: #717171;
    &::after {
      opacity: 1;
    }
  }

}

.contact-card {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  right: 0;
  top: 85px;
  width: 100%;
  max-width: 450px;
  display: grid;
  grid-template: repeat(3, 1fr) / minmax(auto, 135px) 1fr;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 17px 33px 32px 33px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
  letter-spacing: 0.05em;
  & span:nth-child(odd) {
    color: #000000;
  }
  & span:nth-child(even) {
    color: #717171;
  }
  @media (max-width: 640px) {
    grid-template: repeat(3, 1fr)/minmax(auto, 33%) 1fr;
    padding: 17px 33px 17px 33px;
    line-height: 2rem;
    top: 83px;
  }
}
.city {
}
.city-name {
}
.phone {
}
.phone-number {
}
.address {
}
.address-details {
}
.contact-card__button {
  display: block;
  display: grid;
  align-items: center;
  width: 122px;
  margin-top: 16px;
  // width: 100%;
  height: 26px;
  border: 1px solid #E06733;
  border-radius: 5px;
  @include inika();
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  color: #717171;
  justify-self: center;
  grid-column: 1 / 3;
}