html {
  height: 100%;
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}


body {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: minmax(134px, auto) 1fr minmax(130px, auto);
  grid-template-columns: 1fr;

  @media(max-width: 800px) {
    grid-template-rows: minmax(122px, auto) 1fr minmax(181px, auto);
  }
  @media(max-width: 640px) {
    grid-template-rows: minmax(96px, auto) 1fr minmax(140px, auto);
  }
}

.body_blocked {
  overflow: hidden
}

@include side-padding;

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.button {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #000000;
}

.button,
.prices-details__button,
.prices-content__button,
.contact-card__button {
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background-color: $orange;
    color: white;
  }
}