.welcome {
  @include two-column-grid($columns: 1fr minmax(auto, 673px) minmax(auto, 549px) 1fr);
  background-color: $dark-background;

  &__image {
    grid-column: 2 / 3;
    background: url(/src/image/welcome-leafs.jpg)  -6px 56px/68% auto no-repeat;
    // background: url(/src/image/welcome-leafs.jpg)  -6px 56px/ contain no-repeat;
    @media (max-width: 1024px) {
      background: url(/src/image/welcome-leafs.jpg)  -14px 31px/107% auto no-repeat;
      grid-column: 3 / 4;
      padding: 50%;
      order: 2;
    }
    @media (max-width: 640px) {
      display: none;
    }
  }

  &__content {
    grid-column: 3 / 4;
    margin: 18% 0 17% 0;
    @media (max-width: 1024px) {
      grid-column: 2 / 3;
      order: 1;
      margin: 8% 0 17% 0;
    }
    @media (max-width: 640px) {
      margin: 8% 0 7% 0;
    }
  }

  &__title {
    margin-bottom: 44px;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5rem;
    color: #717171;
    @media (max-width: 850px) {
      font-size: 3.5rem;
      margin-bottom: 34px;
    }
    @media (max-width: 640px) {
      font-size: 2.5rem;
      line-height: 3.5rem;
      margin-bottom: 19px;
    }
  }

  &__text {
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.5rem;
    color: #636060;
    @media (max-width: 850px) {
      font-size: 1.6rem;
      line-height: 2.5rem;
      max-width: 346px;
      margin-bottom: 35px;
      margin-left: 5px;
    }
    @media (max-width: 640px) {
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 27px;
    }
  }

  @media (max-width: 850px) {
    @include two-column-grid($columns: 1fr minmax(auto, 60%) minmax(auto, 40%) 1fr);
  }
  @media (max-width: 680px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (max-width: 640px) {
    @include two-column-grid($columns: 1fr minmax(auto, 100%) 1fr);
  }
  
}

.button {
  width: 158px;
  height: 44px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #000000;
  background-color: transparent;
  border: 2px solid #E06733;
  border-radius: 10px;
  @media (max-width: 640px) {
    width: 100px;
    height: 34px;
    font-size: 1rem;
  }
}
